POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DATABASE=db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456

OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=

OAUTH_OICQ_CLIENT_ID=
OAUTH_OICQ_CLIENT_SECRET=