.ant-input, .ant-input-affix-wrapper, .ant-input-number {
    z-index: 100!important;
}

.ant-btn {
    z-index: 100!important;
}

.ant-radio, .ant-radio-wrapper {
    z-index: 100!important;
}

.ant-switch {
    z-index: 100!important;
}

.ant-picker {
    z-index: 100!important;
}

.ant-tag {
    z-index: 100!important;
}

.ant-tabs-nav-list {
    z-index: 100!important;
}