<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootTemplateApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="envFilePaths">
      <option value="$PROJECT_DIR$/.env" />
    </option>
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="crystal-framework" />
    <selectedOptions>
      <option name="environmentVariables" />
    </selectedOptions>
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.lovelycatv.crystalframework.SpringbootTemplateApplication" />
    <option name="VM_PARAMETERS" value="-Xms256m -Xmx512m" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>